{% extends "base.html" %}
{% block content %}
<h4 align="center">Register</h4>

<form method="POST">
    <div class="container">
        <p>Please fill in this form to create an account.</p>
        <hr>
    
        <label for="user_email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="user_email" id="user_email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>
    
        <button type="submit" class="registerbtn">Register</button>
    </div>
</form>

</body>
{% endblock %}
